{% include 'sitio/header.html' %}

<div class="row">
  <div class="col-3">
    <div class="card">
        <img src="https://i.pinimg.com/564x/1a/1e/75/1a1e75b588e907899475fa79d8762a5b.jpg" class="img-fluid rounded-top" alt="html5.jpg" style="width:564px;height:300px">
      <div class="card-body">
        <h3 class="Nombre">HTML5</h3>
        <p class="Academia">w3schools</p>
        <a href="https://www.w3schools.com/" class="badge bg-primary _blank" target="_blank">Website</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
        <img src="https://i.pinimg.com/564x/e9/1e/53/e91e53cdafb6abea9db4dd0f12622576.jpg" class="img-fluid rounded-top" alt="css.jpg" style="width:564px;height:300px">
      <div class="card-body">
        <h3 class="Nombre">CSS</h3>
        <p class="Academia">w3schools</p>
        <a href="https://www.w3schools.com/" class="badge bg-primary _blank" target="_blank">Website</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
        <img src="https://i.pinimg.com/564x/40/0f/22/400f22ce6f755ac476eb06c4cb45395c.jpg" class="img-fluid rounded-top" alt="js.jpg" style="width:564px;height:300px">
      <div class="card-body">
        <h3 class="Nombre">JavaScript</h3>
        <p class="Academia">w3schools</p>
        <a href="https://www.w3schools.com/" class="badge bg-primary _blank" target="_blank">Website</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
        <img src="https://i.pinimg.com/564x/c8/8d/3f/c88d3f4a841e3b585930d899ea884c33.jpg" class="img-fluid rounded-top" alt="Python.jpg" style="width:564px;height:300px">
      <div class="card-body">
        <h3 class="Nombre">Python</h3>
        <p class="Academia">Udemy</p>
        <a href="https://www.udemy.com/" class="badge bg-primary _blank" target="_blank">Website</a>        
      </div>
    </div>
  </div>
</div>

{% include 'sitio/fooder.html' %}