{% include 'admin/header.html' %}

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Bienvenido al Administrador de Estudios</h2>
            <p>Aqui podras administrar la seccion de estudios.</p>                      
        </div>
        <a name="administrasGestion" id="administrasGestion" class="btn btn-primary" href="/admin/login" role="button">Empezar gestion</a>
    </div>    
</div>

{% include 'admin/fooder.html' %}